<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">Customer | <%= "#{@customer.first_name} #{@customer.last_name}" %></h1>
    <div class="clear"></div>
  </div>
  <%= render 'account_details_librarian' %>
</div>