<div id="feature" class="floatLeft">
  <div id="featureHeading">
    <h1 class="floatLeft">Customer List</h1>
    <div class="clear"></div>
  </div>

  <div id="featureWrap" class="floatLeft reports">  
  	<table class="table table-striped table-hover books-with-count-list">
  		<tr>
  			<th>Customer Name</th>
  			<th>Book Count</th>
  		</tr>
  		<% @customers.each do |customer| -%>
  			<tr class="<%= cycle("rowA", "rowB") -%><%= " customer-id-#{customer.id}" %>">
          <td><%= link_to "#{customer.first_name} #{customer.last_name}", user_path(customer, view: 'librarian') %></td>
          <td><span class="badge badge-pill badge-primary"><%= book_count(customer) %></span></td>
        </tr>
      <% end -%>
  </div>
</div>

<script>
  // Make table rows clickable
  $('tr').click(function() {
    window.location = $(this).find('a').attr('href')
    false;
  })
</script>
