<!-- MASTHEAD -->
<div id="masthead">
  <div id="heading">
		<%= link_to "Library Application", "/" %>
  </div>

  <div class="sign_in">
    <% if current_user.present? %>
      <%= link_to "Sign Out", sign_out_path %>
    <% else %>
      <%= link_to "Sign In", sign_in_path %>
    <% end %>
  </div>
</div>
<!-- End MASTHEAD -->