<!-- NAVIGATION -->
<div class="floatLeft">
	<div id="nav">
    <ul class="list-group">
      <%= content_tag(:li, class: "list-group-item list-group-item-action") do  %>
  			<%= link_to 'Librarian View', list_users_path %>
      <% end %>

      <%= content_tag(:li, class: "list-group-item list-group-item-action") do  %>
        <%# This will crash without customers in the database %>
  			<%= link_to 'Customer View', user_path(Customer.first, view: 'customer') %>
      <% end %>
    </ul>
  </div>
</div>

<script>
  $(function() {
    // Make whole row clickable
    $('li').click(function(e){
      window.location = $(this).find('a').attr('href');
      return false;
    })
  })
</script>
